h1 {
  font-size: var(--step-0);
  line-height: .8;
  font-weight: 500;
  max-width: 8ch;
}

.hero {
  display: grid;
  /* Occupies the full height of the screen */
  height: 70vh;

  /* Col 1: flexible | Col 2: image column - prevent collapse with minmax */
  grid-template-columns: fit-content minmax(280px, 40%);
  grid-template-rows: auto 1fr;

  grid-template-areas:
    "title image"
    "text  image";

  gap: 0;
  row-gap: 50px;
  padding: 8rem 5rem 7rem 5rem;
  /* Removing gap ensures the image touches the edges if desired */
}

.grid-item--1.title {
  grid-area: title;
  /* Adjust padding for your layout */
}

.text {
  grid-area: text;
  max-width: 50ch;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.text p:nth-child(2) {
  font-style: italic;
}

.image {
  grid-area: image;
  /* This ensures the container itself fills the height of both rows */
  height: 100%;
  width: 100%;
}

/* Ensure the image container occupies the right column and spans both rows */
.image {
  grid-column: 2;
  grid-row: 1 / span 2;
  align-self: center;
  justify-self: end;
  z-index: 1;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);

}

.image img {
  display: block;
  width: 100%;
  height: 100%;
  /* Spans the full height of the grid */

  /* Magic ingredient: makes image fill space without distortion */
  object-fit: cover;
  object-position: center;
}

/* Responsive: On mobile, the height usually needs to be auto 
   so content isn't cramped, and the image can sit below/above */
@media (max-width: 768px) {
  .hero {
    min-height: auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "image"
      "text";
  }

  .image img {
    height: 300px;
    /* Fixed height for mobile so it doesn't take the whole screen */
  }
}

.grid-item--1 {
  grid-column: 1;
  grid-row: 1;
  z-index: 2;
}

/* Responsive: stack vertically on small screens */
@media (max-width: 700px) {}

.contact-flex {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.contact-flex div {
  display: flex;
  flex-direction: column;
  gap: .2rem;
}

.contact-avatar {
  width: 50px;
  border-radius: 50px;
}

.contact-name {
  font-size: var(--fs-s);
  font-weight: 500;
}

.contact-company {
  font-size: var(--fs-xs);
}

.layout-home h3,
.line-element--1 {
  justify-self: center;
}

.line-element--1 {
  padding-bottom: 2rem;
  width: 80px;
}

.card-testimonial {
  background-color: var(--color-white);
  max-width: 200px;
  height: fit-content;
  border-radius: var(--border-radius);
  padding: 2.5rem 2rem;
  display: grid;
  place-content: center;
  gap: 1rem;
}

.card-testimonial p {
  color: var(--color-darkindigo);
}

.card-testimonial span {
  color: var(--color-darkindigo);
  text-align: center;
  font-size: 100px;
  height: 10px;
}

.testimonial-person {
  text-transform: uppercase;
  font-weight: 300;
}



.center {
  display: grid;
  place-content: center;
  justify-items: center;
}

.card-testimonial--wrapper-text {
  border-bottom: 1px solid var(--color-darkindigo);
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.card-testimonial--wrapper-text div p:nth-child(1) {
  font-weight: 200;
}

.card-testimonial--wrapper-text div p:nth-child(2) {
  font-weight: 600;
}


.playground-link--homepage {
  color: var(--color-white);
  text-decoration: none;
}


.carousel {
  font-family: var(--font-family-title);
  width: 100vw;
  overflow: hidden;
  margin: 0 auto;
  height: 40vh;
  display: grid;
  align-content: center;
  background-image: url('../assets/carousel.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.track {
  display: flex;
  animation: slide 40s infinite;
}

.track h4 {
  flex: 0 0 100vw;
  text-align: center;
  font-size: var(--step--4);
  font-weight: 500;
  color: var(--color-white);
}

.card-testimonial p {
  font-size: 15px;
  font-weight: 400;
}

/* 16 words => 1600vw total width */
@keyframes slide {
  0% {
    transform: translateX(0);
  }

  3% {
    transform: translateX(0);
  }

  /* pause word 1 */
  6% {
    transform: translateX(-100vw);
  }

  9% {
    transform: translateX(-100vw);
  }

  12% {
    transform: translateX(-200vw);
  }

  15% {
    transform: translateX(-200vw);
  }

  18% {
    transform: translateX(-300vw);
  }

  21% {
    transform: translateX(-300vw);
  }

  24% {
    transform: translateX(-400vw);
  }

  27% {
    transform: translateX(-400vw);
  }

  30% {
    transform: translateX(-500vw);
  }

  33% {
    transform: translateX(-500vw);
  }

  36% {
    transform: translateX(-600vw);
  }

  39% {
    transform: translateX(-600vw);
  }

  42% {
    transform: translateX(-700vw);
  }

  45% {
    transform: translateX(-700vw);
  }

  48% {
    transform: translateX(-800vw);
  }

  51% {
    transform: translateX(-800vw);
  }

  54% {
    transform: translateX(-900vw);
  }

  57% {
    transform: translateX(-900vw);
  }

  60% {
    transform: translateX(-1000vw);
  }

  63% {
    transform: translateX(-1000vw);
  }

  66% {
    transform: translateX(-1100vw);
  }

  69% {
    transform: translateX(-1100vw);
  }

  72% {
    transform: translateX(-1200vw);
  }

  75% {
    transform: translateX(-1200vw);
  }

  78% {
    transform: translateX(-1300vw);
  }

  81% {
    transform: translateX(-1300vw);
  }

  84% {
    transform: translateX(-1400vw);
  }

  87% {
    transform: translateX(-1400vw);
  }

  90% {
    transform: translateX(-1500vw);
  }

  93% {
    transform: translateX(-1500vw);
  }

  100% {
    transform: translateX(-1600vw);
  }

  /* back at duplicate word 1 */
}

.latest-project--grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 1rem;
  max-width: 100%;
  box-sizing: border-box;
}

.latest-project--grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: var(--border-radius);
}


.latest-project--img {
  grid-column: 2;
  grid-row: 1 / span 2;
}

.latest-project--img2 {
  grid-column: 1;
  grid-row: 2 / span 2;
}

.latest-project--text2 {
  grid-column: 2;
  grid-row: 3;
}

.latest-project--text2,
.latest-project--text {
  padding: 1rem;
  border: 1px solid var(--color-dof);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.latest-project--title {
  text-transform: uppercase;
  font-family: var(--font-family-title);
  color: var(--color-dof);
  font-size: var(--fs-s);
}

.latest-project--text2 p,
.latest-project--text p {
  font-weight: 600;
  font-size: var(--fs-s);
}

.project-date {
  margin-bottom: 1rem;
  font-weight: 300;
}

.project-button--wrapper {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(2, max-content);
  margin-top: 1.5rem;
}


.playground {
  display: grid;
  align-items: center;
}

.playground-text {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(fit-content 1fr);
  gap: .5rem;
}

.playground img,
.playground-text {
  grid-column: 1;
  grid-row: 1;
}

.playground-text img {
  max-width: 40px;
  grid-column: 2;
  grid-row: 2;
  place-self: flex-end;
}

.playground-text span {
  text-transform: uppercase;
  font-size: var(--fs-s);
  opacity: .5;
}

.playground-text p {
  font-weight: 600;
  font-size: var(--fs-m);
  grid-column: 1 /span 2;
  grid-row: 2;
}

.playground p {
  max-width: 20ch;
}

.testimonials--link {
  display: none;
  padding: .8rem 1.2rem;
  border: 3px solid var(--color-orange);
  border-radius: 50px;
  width: fit-content;
}


@media (min-width:500px) {
  .playground {
    display: none;
  }
}


@media (min-width:768px) {

  .contact-button--home {
    display: none
  }

  .contact-avatar {
    width: 80px;
  }

  .contact-name {
    font-size: var(--fs-m);
  }

  .contact-company {
    font-size: var(--fs-s);
  }

  .latest-project--grid {
    display: grid;
    gap: 1rem;
    max-width: 100%;
  }

  .latest-project--grid img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: var(--border-radius);
  }

  .project-button--wrapper {
    padding-top: 2rem;
  }

}

@media (min-width:1240px) {
  .latest-project--grid {
    display: flex;
    gap: 1rem;
    max-width: 100%;
    height: 400px;
  }

  .latest-project--grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
  }

  .playground p {
    font-size: 3rem;
  }

  .playground span {
    font-size: 2rem;
  }


  .testimonials--link {
    display: block;
    grid-row: 1;
    grid-column: 1;
    height: fit-content;
  }


}